@import '../scss/ks-theme.scss';

.ks-btn {
  line-height: 1;
  background-color: transparent;
  padding: 0;
  margin: 15px 0;
  cursor: pointer;
}

.ks-btn,
.ks-btn a {
  text-decoration: none;
  position: relative;
}

.ks-btn:hover,
.ks-btn:active {
  background-color: transparent !important;
}

.ks-btn-primary-light a {
  color: #fff;
}

.ks-btn-primary-dark a {
  color: #555;
}

.ks-btn-light a {
  color: #fff;
}

.ks-btn-light .ks-btn-icon {
  color: $color-black;
}

.ks-btn-dark a {
  color: #555;
}

.ks-btn-icon {
  color: $color-primary;
  position: relative;
  right: -30px;
  bottom: 0;
  transition: all 0.2s;
}

.ks-btn:hover > .ks-btn-icon,
.ks-btn > a:hover > .ks-btn-icon {
  right: -40px;
}
