@import './ks-theme.scss';

body {
  margin: 0;
  font-family: $font-body, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: $font-body;
  font-weight: 100;
  color: black;
}

h1,
h2 {
  font-family: $font-heading;
  color: black;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-family: $font-body;
  font-weight: 100;
  color: black;
}

main {
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.kode-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kode-product {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 25%);
}

.kode-product-info {
  padding: 1rem;
}

.kode-product-price {
  font-weight: bold;
}

.kode-search-filters ul {
  padding: 0;
}

.kode-search-filters li {
  list-style: none;
}

.kode-search-filters h3 {
  font-size: 1.25rem;
}

.rating span {
  color: $color-accent-orange;
}

.image-large {
  width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: solid 0.2rem lightgrey;
  color: lightgrey;
}

.checkout-steps > div.active {
  border-bottom: solid 0.2rem orangered;
  color: orangered;
}

.map-input-box {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  width: 100%;
  height: 3rem;
  display: flex;
}

.button.thumbnail {
  padding: 0;
}

/**
  * Bootstrap Overrides
  **/
.btn-primary,
.btn-outline-primary {
  color: #fff;
  background-color: #1961ae;
  border: #1961ae;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #11bab8;
}

a,
.nav-link {
  color: #1961ae;
}

a:hover,
.nav-link:hover {
  color: #11bab8;
}

nav.bg-dark .nav-link {
  color: #fff;
}

nav.bg-dark .nav-link:hover {
  color: #11bab8;
}
