body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

.site-container {
  min-height: 100vh;
}

.kode-product-card {
  max-height: 470px;
}

.kode-product-card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.kode-product-card-img {
  max-height: 304px;
  min-height: 304px;
  overflow: hidden;
}

.kode-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kode-product {
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 25%);
}

.kode-product-img {
  max-height: 350px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.kode-product-img img {
  width: 100%;
  max-width: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.kode-product-info {
  padding: 1rem;
}

.kode-product-price {
  font-weight: bold;
}

.kode-search-filters ul {
  padding: 0;
}

.kode-search-filters li {
  list-style: none;
}

.kode-search-filters h3 {
  font-size: 1.25rem;
}

.rating span {
  color: darkorange;
}

.image-large {
  width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: solid 0.2rem lightgrey;
  color: lightgrey;
}

.checkout-steps > div.active {
  border-bottom: solid 0.2rem orangered;
  color: orangered;
}

/**
* Bootstrap Overrides
**/
.btn-primary,
.btn-outline-primary {
  color: #fff;
  background-color: #1961ae;
  border: #1961ae;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #11bab8;
}

a,
.nav-link {
  color: #1961ae;
}

a:hover,
.nav-link:hover {
  color: #11bab8;
}

nav.bg-dark .nav-link {
  color: #fff;
}

nav.bg-dark .nav-link:hover {
  color: #11bab8;
}
